{% extends 'base.html' %}

{% load static from staticfiles %}
{% block styles %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{%  static 'reserva/css/eventoProgramado.css'%}">
<script href="{% static 'reserva/jquery/jquery.min.js' %}"></script>
<link rel="stylesheet" href="static/reserva/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
{% endblock styles %}



{% block title %}|Reservar{% endblock %}

{% block content %}

<div id ="tab"class="container">
    <div class="row">
        <div class="col-xs-6 ">



            <!-- Nav tabs -->
            <ul id ="listaTabs" class="nav nav-pills  " role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Paso1" role="tab">Paso 1:  Selecciona tu evento en el calendario </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Paso2" role="tab">Paso 2: Proporciona tus requerimientos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Paso3" role="tab">Paso 3: Confirma tu solicitud </a>
                </li>

            </ul>



            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="Paso1" role="tabpanel">


                <!-- Primera fila: cards -->

                </div>

                <!-- Segundo tab -->
                <div class="tab-pane" id="Paso2" role="tabpanel">


                    <div class="container">
                        <div class="row">



                            <div class="col-xs-12 ">

                                <h4 class="lead">Generalidades</h4>
                                <hr class="my-4">

                                <form class="validate" method="POST" action="" >{% csrf_token %}

                                    {{ form.nombre_evento.label_tag}} {{form.nombre_evento.as_widget}}<span id="al1"></span><br>

                                    {{ form.capacidad_evento.label_tag}} {{ form.capacidad_evento.as_widget }}<span id="al2"></span><br>

                                    {{ form.tipo_evento.label_tag}} {{ form.tipo_evento.as_widget }}<span id="al3"></span><br>

                                    {{ form.objetivo.label_tag}} {{ form.objetivo.as_widget }}<span id="al4"></span><br>



                                </form>



                            </div>


                            <div class="col xs-12">
                                <h4 class="lead">Caracteristicas</h4>
                                <hr class="my-4">

                                <form class="validate" method="POST" action="">{% csrf_token %}

                                    {{ form.fecha.label_tag }} {{form.fecha.as_widget }}<span id="al5"></span><br>

                                    {{ form.hora.label_tag }} {{ form.hora.as_widget }}<br>

                                    {{ form.medio_difusion.label_tag }} <br> {{ form.medio_difusion.as_widget}}<br>

                                    {{ form.req_internet.label_tag }}<br> {{ form.req_internet.as_widget}}


                                    <h4 class="lead">Presentacion del Escenario </h4>
                                    <hr class="my-4">
                                    <!-- Button trigger modal -->
                                    <button id ="pres"type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        Elige presentacion del Escenario</button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Presentaciones Disponibles</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <!-- Contenido del Modal -->
                                                    <h5 >Presentaciones</h5>
                                                    <p class="lead"  ></p>
                                                    <div class="row">
                                                        <div class="col">

                                                            <figure class="figure">
                                                                <img src="..." class="figure-img img-fluid rounded" alt="">
                                                                <figcaption class="figure-caption">Modo X.</figcaption>
                                                            </figure>
                                                        </div>

                                                        <div class="col">

                                                            <figure class="figure">
                                                                <img src="..." class="figure-img img-fluid rounded" alt="">
                                                                <figcaption class="figure-caption">Modo X.</figcaption>
                                                            </figure>
                                                        </div>

                                                        <div class="col">

                                                            <figure class="figure">
                                                                <img src="..." class="figure-img img-fluid rounded" alt="">
                                                                <figcaption class="figure-caption">Modo X.</figcaption>
                                                            </figure>
                                                        </div>





                                                    </div>
                                                    </div>


                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                         <button id="guardar" class="btn btn-primary btn-lg">GUARDAR</button>





                                </form>




                            </div>

                        </div>



                    </div>


                </div>





                <!-- Tercer tab -->
                <div class="tab-pane" id="Paso3" role="tabpanel">



                    <div class="container">

                        <h5 >Nombre del evento:</h5>
                        <p class="lead"  id="campo1"></p>
                        <hr class="my-4">

                        <h5 >Capacidad del evento:</h5>
                        <p class="lead"  id="campo2"></p>
                        <hr class="my-4">

                        <h5 >Tipo de evento:</h5>
                        <p class="lead" id="campo3"></p>
                        <hr class="my-4">

                        <h5 >Objetivo del evento:</h5>
                        <p class="lead" id="campo4"></p>
                        <hr class="my-4">

                        <h5 >Fecha del evento:</h5>
                        <p class="lead" id="campo5"></p>
                        <hr class="my-4">

                        <h5 >Hora del evento:</h5>
                        <p class="lead" id="campo6"></p>
                        <hr class="my-4">

                        <h5 >Medio de difusion del evento:</h5>
                        <p id="campo7"></p>
                        <hr class="my-4">
                        <img  id="preview" style="height:200px;">

                        <h5 >Disponibilidad de Internet:</h5>
                        <p id="campo8"></p>
                        <hr class="my-4">
                        <input id="confirmar" type="submit" class="btn btn-primary btn-lg">CONFIRMAR</input>



                    </div>




                </div>


            </div>
        </div>
    </div>

</div>





{% endblock content %}


{% block scripts %}
<script>



    $(document).ready(function() {



        <!-- Inicializacion de funciones-->
        agregarClase();
        mostrardatosEvento();

        <!-- Eventos-->
        $(window).resize(function() {
            agregarClase();

        });

        $('#guardar' ).click(function () {

            mostrardatosEvento();
            campoVacio();


        });
        $('#confirmar').click(function () {
            limpiarInputs();

        })



        function agregarClase()
        {

            var anchoP= $(window).width();

            if (anchoP < 576)
            {

                $('#listaTabs').addClass('flex-column');
                $('.nav-link').append("<i></i>");
                $("i").addClass('fa fa-chevron-down');


            }


        }

        function mostrardatosEvento(){


            var campo1= $('#nombre_evento').val();
            var campo2 = $('#capacidad_evento').val();
            var campo3 = $('#tipo_evento option:selected').text();
            var campo4 = $('#objetivo').val();
            var campo5 = $('#fecha').val();
            var campo6 =$('#hora').val();
            var campo7 =$('#medio_difusion').val();
            var campo8 = $('#req_internet').val();

            $('#campo1').text(campo1);
            $('#campo2').text(campo2);
            $('#campo3').text(campo3);
            $('#campo4').text(campo4);
            $('#campo5').text(campo5);
            $('#campo6').text(campo6);
            $('#campo7').text(campo7);
            $('#campo8').text(campo8);

        }
        function limpiarInputs() {
            $('.validate')[0].reset();

        }


        function mostrarArchivos(input) {
            if (input.files && input.files[0])
            {
                var reader = new FileReader();
                reader.onload = function (e)
                {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#medio_difusion").change(function(){
            mostrarArchivos(this);
        });



        <!-- Funcion para validar campos del form-->
        <!-- nombre_evento-->

        $('#nombre_evento').focusin(function () {
            $(this).addClass("miClase");
            
        });

        $('#nombre_evento').focusout(function () {
            if ($(this).val()==""){
                $('#al1').html("<span style='color: firebrick'>Este campo es obligatorio</span>");
            }
            else if($(this).val.length > 200){
                $('#al1').html("<span style='color: firebrick'>Este campo debe contener menos de 200 caracteres</span>")
            }

            else{
                $('#al1').html("<span></span>");
            }
            });

        <!-- capacidad_evento-->
         $('#capacidad_evento').focusin(function () {
            $(this).addClass("miClase");

        });

        $('#capacidad_evento').focusout(function () {
            if (isNaN($(this).val())){
                $('#al2').html("<span style='color: firebrick'>Este campo solo admite numeros</span>");
            }
            else if($(this).val()==""){
                $('#al2').html("<span style='color: firebrick'>Este campo es obligatorio</span>");

            }

             else {
                $('#al2').html("<span></span>");
            }


        });

        <!-- tipo_evento-->

        $('#tipo_evento').focusin(function () {
            $(this).addClass("miClase");

        });

        $('#tipo_evento').focusout(function () {

            if ($('#tipo_evento option:selected').val()===""){
                $('#al3').html("<span style='color: firebrick'>Selecciona alguna opcion</span>");
            }

             else {
                $('#al3').html("<span></span>");
            }


        });

        <!-- objetivo_evento-->
        $('#objetivo').focusin(function () {
            $(this).addClass("miClase");

        });

        $('#objetivo').focusout(function () {
            if ($(this).val()==""){
                $('#al4').html("<span style='color: firebrick'>Este campo es obligatorio</span>");
            }

             else {
                $('#al4').html("<span></span>");
            }




        });


        function campoVacio() {
            if ($('#nombre_evento').val()== "" ||$('#capacidad_evento').val()== "" || $("#tipo_evento option:selected").val() == "" || $('#objetivo').val()=="" ) {
                alert("Faltan campos por llenar, asegurese de llenar todos los campos");
            }


        }

        $('#myTab a[href="#Paso1"] ').click(function (tabPaso1) {
            tabPaso1.preventDefault()
            $(this).tab('show')
        })
        $('#myTab a[href="#Paso2"] ').click(function (tabPaso2) {
            tabPaso2.preventDefault()
            $(this).tab('show')
        })
        $('#myTab a[href="#Paso3"] ').click(function (tabPaso3) {
            tabPaso3.preventDefault()
            $(this).tab('show')
        })

        $("#pres").click(function(){
            $("#myModal").modal();
        });

        jQuery('#fecha').datetimepicker({
            i18n:{
                de:{
                    months:[
                        'Januar','Februar','März','April',
                        'Mai','Juni','Juli','August',
                        'September','Oktober','November','Dezember',
                    ],
                    dayOfWeek:[
                        "So.", "Mo", "Di", "Mi",
                        "Do", "Fr", "Sa.",
                    ]
                }
            },
            timepicker:false,
            format:'d.m.Y'
        });

        jQuery('#hora').datetimepicker({
            datepicker:false,
            format:'H:i'
        });
    });

</script>


{% endblock scripts %}

